.cards {
    padding: 10px;
    border-color: black;
    border: 11px;
    border-radius: 10px;
}
.card{
    background-color:#212529;
    color:white;
}

.heroImage{
    border-radius:10px;
    transition: transform .2s; /* Animation */
}

.heroImage:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.05); }

    .subt{
        color:rgb(255 255 255 / 54%)
    }